body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #7ead3f;
  color: rgb(5, 5, 5);
  padding: 10px 0;
  text-align: right;
}

nav a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.jajanan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jajanan img {
  width: 100%;
  height: 150px; /* Menetapkan tinggi yang konsisten untuk semua gambar */
  object-fit: cover; /* Menjaga aspek rasio dan memotong gambar sesuai ukuran kontainer */
  cursor: pointer;
}

.jajanan p {
  text-align: center;
  margin-top: 5px;
}

aside {
  width: 300px;
  padding: 20px;
  background-color: #9be75d;
  text-align: "left";
}

footer {
  background-color: #7ead3f;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content {
  background-color: #cfec8b;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #000000;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #333;
  padding: 15px 0;
  text-align: center;
}

/* Add background image to the body */
body {
  background-image: url("src/background.jpeg"); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* Adjust the image size to cover the entire body */
  background-attachment: fixed; /* Prevent the image from scrolling with the content */
}

/* Add background image to the aside */
aside {
  background-image: url("src/background.jpeg"); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* Adjust the image size to cover the entire body */
  background-attachment: fixed; /* Prevent the image from scrolling with the content */
}
